.title-secondary{display:none}
.post-title{font-size:16px;margin:0 0 10px;border-bottom:0 solid #e9e9e9;padding:0 10px;line-height:24px;text-align:center}
#blog-pager{clear:both;border:0}

.mottin { margin: 0px 0 0; padding: 0px 0px}
.mottin:hover .invert-shade {visibility:visible;opacity:1;}
.mottin:hover .ribbon-vip{display:none;transition: all 0.4s ease-in}
.mottin:hover .post-title a{color:#f9a322!important}
.mottin{overflow:visible;position:relative;width:22.8%;float:left;margin:0 13px 25px;height:220px;border-bottom:0px solid #e9e9e9;box-shadow:0 3px 20px 0 rgba(0,0,0,.2)}

@media (max-width:1180px){.mottin{width:22.6%}}@media (max-width:1100px){.mottin{width:22.4%}}@media (max-width:1040px){.mottin{width:22.3%}}
@media (max-width:1000px){.mottin{width:30%}}@media (max-width:840px){.mottin{width:30%}}@media (max-width:800px){.mottin{width:29.5%}}
@media (max-width:700px){.mottin{width:45.5%}}@media (max-width:600px){.mottin{width:44.6%}}@media (max-width:500px){.mottin{width:94%}}
@media (max-width:450px){.mottin{width:93%}}@media (max-width:350px){.mottin{width:91.6%}}
 .catchu{
text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;}
.giacu {
    display: inline-block;
}
.mottin.motsp {
    height: 470px;
text-align:center;line-height: 28px;
}
h2.tieudesanpham {
    font-size: 16px;
    margin-bottom: 7px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.tinhtrang {
    padding: 0 38px;
}
.trongkho {
   float: left;
    color: #e6e60e;
    font-size: 17px;
}
.luotxem {
    float: right;
}
a.nutdatmua {
    color:white;
background:#1d6108;
    border: 1px solid;
    padding: 2px 8px;
    border-radius: 26px;
    margin-top: 10px;
    display: inline-block;
}

.xemtoanbo a {
    font-size: 17px;
    padding: 4px 10px;
    color: #f68a1f;
    border-radius: 10px;
    border: 3px double #f68a1f;
}

.xemtoanbo {
    text-align: right;
    padding: 25px 0;
}
select {
    padding: 7px 10px;
    border-radius: 16px;    margin: 5px
}
h4.tuongtu {
    text-transform: uppercase;
    font-size: 22px;
    color: gray;
    border-bottom: 3px double;
    margin-bottom: 30px;
    padding-bottom: 11px;
}
.sao {
    color: #eaea23;
    display: inline;
}
/* css cho list ảnh sp chi tiết*/

.nenden {
    background: #000000d6;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 31;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
}


.donglist {
       position: absolute;
    top: 55px;
    right: 14px;
    background: #121213;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 30;
    font-size: 17px;
    border: 1px solid;
}
.listanh {
    position: fixed;
    width: 90%;
    height: 90%;
    z-index: 5;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.listanh ul {
    width: 100%;
    position: relative;
    height: 100%;
    list-style: none;
}
.listanh ul li {
    position: absolute;
    top: 0;
    z-index: 30;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.listanh ul li img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.nutnextanh .nnt, .nutnextanh .nnp {
    position: absolute;
    height: 8%;
    bottom: 50%;
    transform: translateY(4%);
    cursor: pointer;
    z-index: 20;
}
.nutnextanh img.nnt {
    left: 0;
}
.nutnextanh img.nnp {
    right: 0;
}
.hinhsp {
    width: 30%;
    float: left;
}
.luotxemsp {
    background-color: #333;
    color: #fff;
    padding: 7px 20px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.luotxemsp:after {
  content: '';
    width: 0;
    height: 0;
    border-left: 10px solid #333;
    border-top: 17px solid transparent;
    border-bottom: 20px solid transparent;
    display: block;
    position: absolute;
    top: 1px;
    right: -10px;
}
.hinhnho img, .hinhto img {
    cursor: pointer;
}
.hinhto img {
    width: 100%;
    outline: 1px solid #b7aaaa;
}
.hinhnho {
    margin-top: 20px;
}
.hinhnho img {
    width: 22%;
    outline: 1px solid #c5b8b8;
    margin: 1%;
}
.ttsp {
    width: 34%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 47px;
    text-align: center;
    outline: 1px solid #d6cfcf;
    padding: 37px 1%;
}
.ttsp ul {
    list-style: none;
    border-bottom: 1px dashed #c7c7c7;
    margin-bottom: 20px;
}
.ttsp ul li {
    line-height: 33px;
}
.chapnhantt {
    width: 100%;
    border-bottom: 1px dashed #c7c7c7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.tem1 {
    width: 50%;
    float: left;
    margin-right: 2%;
}
p.titlett {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 14px;
}
.sott.fa.fa-phone {
    font-size: 20px;
    color: #20b305;
}
.donga, .donga2 {
    width: 100%;
}
.dongaanh, .dongaanh2 {
    width: 50%;
    float: left;
}
.dongaanh img, .dongaanh2 img {
    max-width: 100%;
}
.tttk, .tttk2 {
    width: 49%;
    float: left;
    margin-left: 1%;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
}
.donga i, .donga2 i {
    font-size: 6px;
}
.donga2 {
    margin-top: 26px;
    padding-bottom: 66px;
    border-bottom: 1px dashed #c7c7c7;
    margin-bottom: 17px;
}
.tttk2 {
    margin-top: -9px;
}
.dactrungsp {
   line-height: 16px;
    margin-top: -10px;
text-align: justify;
}
.thongtinkhac {
    width: 30%;
    float: left;
}
.thongtinkhac ul {
    list-style: none;
    background: #fbeff1;
    border-radius: 4px;
    padding: 25px;
}
.thongtinkhac ul li {
    border-bottom: 1px dashed #c7c7c7;
    padding-bottom: 2px;
    padding-top: 8px;
    line-height: 21px;
    text-align: justify;
}
.thongtinkhac ul li i {
    font-size: 22px;
    color: #ff660c;
}
.thongtinkhac ul li i.fa.fa-usd {
    color: #e2be3b;
}
.thongtinkhac ul li i.fa.fa-refresh {
    color: #6bc519;
}
.thongtinkhac a {
    text-decoration: none;
    color: red;
    display: block;
    transition: 0.4s;
    font-size: 14px;
}
.thongtinkhac ul li:nth-child(3) {
    border-bottom: none;
}
.spkem {
    position: relative;
    margin-top: 30px;
    border: 1px solid #ec1933;
    padding: 16px 4px;
    border-radius: 6px;
}
.spkem p {
   position: absolute;
    background: #ec1933;
    border-radius: 10px;
    padding: 4px 7px;
    top: -35px;
    left: -4px;
    color: white;
}
.xemspphu span {
    display: block;
    margin-left: 3%;
    line-height: 28px;
    font-size: 16px;
}
.xemspphu span i {
    color: #3fb846;
}
.tttrai{
      width: 100%;
}
h3.titetctsp1 {
    border-right: 1px solid;
}
h3.titetctsp1, h3.titetctsp2 {
    font-size: 20px;
    color: #fff;
    background-color: #650a75;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 5px;
}
.noidungctsp {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    text-align: justify;
}
.noidungctsp p {
    padding-right: 15px;
}
.noidungctsp img {
    max-width: 100%;
}
.binhluanp {
    background: #e0e7ec;
}
h3.titetctsp2 {
    border-left: 1px solid;
}
.ttsp p {
    margin: 3px;
}
.ra{opacity: 1;visibility: visible;}
.listanh ul li.hienthia{opacity: 1;visibility: visible;} 
<!-- end css cho hieu ung anh chi tiet sp-->
.chuanut {
    margin-bottom: 25px;
}
a.nut.nutmua {
    background: #1d6108;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}

a.nut {
    margin: 15px;
}
@media(max-width:576px){
nav#navigation {
    margin-right: 55px;
}
button.tieptucmua {
    margin-bottom: 2px;
}
del {
    font-size: 13px;
}
.hinhsp {
    width: 100%;
}
.luotxemsp {
    font-size: 15px;
}
.hinhnho img {
    margin-left: 2%;
}
.ttsp {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 20px;
}
.donga2 {
    padding-bottom: 62px;
}
.tttk, .tttk2 {
    font-size: 12px;
}
.dactrungsp {
    font-size: 14px;
}
.thongtinkhac {
    width: 100%;
}
.spkem .xemspphu span {
    font-size: 14px;
}
.mottin.motsp {
  height: 425px;
    width: 48%;
    margin: 1%;
}
.luotxem,.trongkho {
    font-size: 13px;float: none;
}
select {
    padding: 2px 3px;
    border-radius: 16px;
    margin: 5px;
}


}


/* Hiệu ứng 7 sắc cầu vồng cho ảnh banner */
@-webkit-keyframes hue{100%{-webkit-filter:hue-rotate(360deg)}}img.cauvongtudong{-webkit-animation:hue 1s linear infinite}
/* css cho menu di dộng*/
.chuamenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.chuanut a.nutdatmua {
    background: none;
    border: 3px double orange;
    color: orange;
}
@media(max-width:576px){
.fontpro{
font-size:25px;
width: 250px;
}
